<div class="container text-center">
  <h1>Restaurants</h1>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4"></div>
      <% @restaurants.each do |restaurant| %>
        <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
        <p>Category: <%= restaurant.category %></p>
    <% end %>
  </div>
  <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-info" %>
</div>


